In [17]:
a = 5
a

5

In [18]:
type(a)

int

In [19]:
b = 5.6
b

5.6

In [20]:
type(b)

float

In [21]:
c = "Lucky"
c

'Lucky'

In [22]:
type(c)

str

In [23]:
# "2"+3 >> thiscan't be added bcos 2 is string and 3 is integer

In [24]:
# type casting/type conversion >> the process of changing the data type of a value/object
#why? >> while excuting /computation using operator, ther can be mismatch between the data types

In [25]:
a = "2"
b = 3
a+b

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = "2"
b = 3
int(a)+b

5

In [ ]:
#string to integer
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [12]:
a = 3.4
b = 5
a+b  # float and int can be added

8.4

In [15]:
#integer to float
a = 3.4
print(type(a))
float_value = int(a)
print(type(float_value))

<class 'float'>
<class 'int'>

In [26]:
#float to integer
c = 5
print(type(a))
int_value = float(a)
print(type(int_value))

<class 'str'>
<class 'float'>

In [27]:
#string/character can't convered into int/float/numbers

In [28]:
#typecasting >> implicit and explicit

In [29]:
#implicit typecasting >> python understand the datatype
a = 5
type(a)

int

In [30]:
#explicit typecasting >> convert data type using inbuilt function >> str, int, float, bool
a = '2'
type(a)

str

In [31]:
int(a)

2

In [32]:
float(a)

2.0

In [33]:
#concatenatin
a = "Lucky"
b = "Kaushik"
a+b

'LuckyKaushik'

In [34]:
a = "3"
b = "4"
a+b

'34'

In [36]:
a = "Lucky"
b = " 4 "
c = "u"
a+b+c

'Lucky 4 u'

In [37]:
#bool
bool(0)

False

In [38]:
bool(1)

True

In [39]:
bool(2)

True

In [40]:
bool(10)

True

In [41]:
bool("Lucky")

True

In [42]:
bool("") #empty string

False

In [43]:
bool(-5)

True