In [1]:
#dictionary is a data structure that store data as key value pair
#keys are unique and immutable

#Note: dictionaries are unordered, but from python 3.7 version, dictionaries retain the order of insertion
#this means that if you iterate over a dictionary, the item will be returned in the order they are added

In [3]:
d = {}
type(d)

dict

In [32]:
d = {"name":"Lucky", "age":21, "email":"lucky@gmail.com", "contact":1234, "address":"Mohan Garden"}

In [33]:
d

{'name': 'Lucky',
 'age': 21,
 'email': 'lucky@gmail.com',
 'contact': 1234,
 'address': 'Mohan Garden'}

In [34]:
d["name"]

'Lucky'

In [35]:
d["email"]

'lucky@gmail.com'

In [36]:
d["address"]

'Mohan Garden'

In [37]:
d["name"] = "Kaushik"

In [38]:
d

{'name': 'Kaushik',
 'age': 21,
 'email': 'lucky@gmail.com',
 'contact': 1234,
 'address': 'Mohan Garden'}

In [39]:
#you can only access value using key, vice-versa not possible

In [40]:
#rules of defining keys
d1 = {1:"abc"}   #integers as key
d1

{1: 'abc'}

In [41]:
d2 = {1.2:"abc"}   # float as key
d2

{1.2: 'abc'}

In [42]:
d3 = {True:"any value"}  #boolean value also can be key
d3

{True: 'any value'}

In [50]:
#d4 = {@ : shyam}  # special characters cant be key

In [ ]:
d4 = {[1,2,3]:"any value"}  # list cant be key

TypeError: unhashable type: 'list'

In [ ]:
d4 = {(1,2,3):"abc"}  #tuple can be key

In [ ]:
d4

{(1, 2, 3): 'abc'}

In [44]:
type(d4)

dict

In [46]:
d4 = {{1,2,3}:"xyz"} # set cant be key

TypeError: unhashable type: 'set'

In [49]:
d4 = {{"key":123}:"any value"}  # dict also cant be key

TypeError: unhashable type: 'dict'

In [51]:
#only string and numbers can be used as a key of the dictionary

In [52]:
d

{'name': 'Kaushik',
 'age': 21,
 'email': 'lucky@gmail.com',
 'contact': 1234,
 'address': 'Mohan Garden'}

In [53]:
d = {"name":"Kaushik", "age":21, "email":"lucky@gmail.com", "contact":1234, "address":"Mohan Garden", "name":"Apj"}
#always the last key, value will be used

In [54]:
d

{'name': 'Apj',
 'age': 21,
 'email': 'lucky@gmail.com',
 'contact': 1234,
 'address': 'Mohan Garden'}

In [56]:
d5 = {"name":["sanjay",1,2,3, "vijay"], "email":"ak@gamil.com", "contact":(1234,5678,9101)}

In [57]:
d5

{'name': ['sanjay', 1, 2, 3, 'vijay'],
 'email': 'ak@gamil.com',
 'contact': (1234, 5678, 9101)}

In [58]:
d5["name"]

['sanjay', 1, 2, 3, 'vijay']

In [60]:
d5["name"][0]

'sanjay'

In [61]:
d5["name"][-1]

'vijay'

In [62]:
d5["email"]

'ak@gamil.com'

In [63]:
d5["contact"]

(1234, 5678, 9101)

In [64]:
d5["contact"][1]

5678

In [67]:
d5["address"] = "Delhi" #to create a new value pair

In [68]:
d5

{'name': ['sanjay', 1, 2, 3, 'vijay'],
 'email': 'ak@gamil.com',
 'contact': (1234, 5678, 9101),
 'address': 'Delhi'}

In [69]:
del d5["address"] # to delete a key value pair

In [71]:
d5

{'name': ['sanjay', 1, 2, 3, 'vijay'],
 'email': 'ak@gamil.com',
 'contact': (1234, 5678, 9101)}

In [72]:
del d5  #to delete the whole dectionary

In [73]:
d5

NameError: name 'd5' is not defined

In [75]:
d5 = {"name":["sanjay",1,2,3, "vijay"], "email":"ak@gamil.com", "contact":(1234,5678,9101)}

In [76]:
d5

{'name': ['sanjay', 1, 2, 3, 'vijay'],
 'email': 'ak@gamil.com',
 'contact': (1234, 5678, 9101)}

In [79]:
d5.keys()

dict_keys(['name', 'email', 'contact'])

In [80]:
d5.values()

dict_values([['sanjay', 1, 2, 3, 'vijay'], 'ak@gamil.com', (1234, 5678, 9101)])

In [81]:
d6 = d5.copy()

In [82]:
d6

{'name': ['sanjay', 1, 2, 3, 'vijay'],
 'email': 'ak@gamil.com',
 'contact': (1234, 5678, 9101)}

In [85]:
d6.clear()  #empty dictionary

In [86]:
d6

{}

In [87]:
d5.pop("contact")

(1234, 5678, 9101)

In [88]:
d5

{'name': ['sanjay', 1, 2, 3, 'vijay'], 'email': 'ak@gamil.com'}

In [89]:
d6 = {"course":"ds"}

In [90]:
d6

{'course': 'ds'}

In [91]:
d5.update(d6)

In [92]:
d5

{'name': ['sanjay', 1, 2, 3, 'vijay'], 'email': 'ak@gamil.com', 'course': 'ds'}

In [93]:
d5["name"]

['sanjay', 1, 2, 3, 'vijay']

In [94]:
d5.get("name")

['sanjay', 1, 2, 3, 'vijay']

In [95]:
#from keys
d5.fromkeys((1,2,3),("a","b","c"))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [96]:
#dictionary comprehension

#zip function
students = ["arjun", "abhimanyu", "bheem", "karn"]
marks = [99, 95, 98, 99.99]

for i in zip (students, marks):
      print(i)

('arjun', 99)
('abhimanyu', 95)
('bheem', 98)
('karn', 99.99)

In [97]:
#store the above info in key value pair >> dict

In [98]:
students = ["arjun", "abhimanyu", "bheem", "karn"]
marks = [99, 95, 98, 99.99]
students_marks = {}
for students,marks in zip(students,marks):
      students_marks[students] = marks

In [100]:
students_marks

{'arjun': 99, 'abhimanyu': 95, 'bheem': 98, 'karn': 99.99}

In [103]:
#using dictionary compehension method
students = ["arjun", "abhimanyu", "bheem", "karn"]
marks = [99, 95, 98, 99.99]
{student:marks for student,marks in zip(students,marks)}

{'arjun': 99, 'abhimanyu': 95, 'bheem': 98, 'karn': 99.99}

In [104]:
#use cases
user_id = [1,2,3]
user_name = ["a12", "a13", "a14"]

In [105]:
user_id

[1, 2, 3]

In [106]:
user_name

['a12', 'a13', 'a14']

In [107]:
{u_id:u_name for u_id, u_name in zip(user_id, user_name)}

{1: 'a12', 2: 'a13', 3: 'a14'}

In [108]:
employee_records = {
    'E001': {'name': 'John Doe', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'Jane Smith', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'David Lee', 'department': 'Finance', 'salary': 80000}
}

In [109]:
type(employee_records)

dict

In [110]:
employee_records.get("E001")

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

In [111]:
employee_records["E001"]

{'name': 'John Doe', 'department': 'Engineering', 'salary': 75000}

In [112]:
restaurant_menu = {
    'Dish1': {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'},
    'Dish2': {'name': 'Chicken Caesar Salad', 'price': 12.50, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'},
    'Dish3': {'name': 'Margherita Pizza', 'price': 14.00, 'description': 'Pizza topped with tomato, mozzarella, and basil'}
}

In [113]:
restaurant_menu["Dish1"]

{'name': 'Pasta Carbonara',
 'price': 15.99,
 'description': 'Creamy pasta with bacon and parmesan'}

In [114]:
#dictionary view object
restaurant_menu.keys()

dict_keys(['Dish1', 'Dish2', 'Dish3'])

In [115]:
restaurant_menu.values()

dict_values([{'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}, {'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}, {'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'}])

In [116]:
restaurant_menu.items()

dict_items([('Dish1', {'name': 'Pasta Carbonara', 'price': 15.99, 'description': 'Creamy pasta with bacon and parmesan'}), ('Dish2', {'name': 'Chicken Caesar Salad', 'price': 12.5, 'description': 'Grilled chicken with romaine lettuce and Caesar dressing'}), ('Dish3', {'name': 'Margherita Pizza', 'price': 14.0, 'description': 'Pizza topped with tomato, mozzarella, and basil'})])