In [2]:
#function >> print, len, type >> inbuilt python function
#ceil >> roof >> nearest highest whole no value
#floor >> ground >> nearest lowest whole no value

In [3]:
import math as m #math(library) is a collection of function

In [4]:
m.ceil(6.5)

7

In [5]:
m.floor(6.5)

6

In [6]:
#fuction >> inbuilt function
# user defined function

In [7]:
#syntax of funtion
#def fun():
      #do somthing>>body of function

In [8]:
#function is a block of code which perform some specific task/computation
#why fuction? >> function are reusable, neat clean and organised, saves times

In [9]:
def greetings():
      print("welcome to the office")

In [10]:
greetings()

welcome to the office

In [11]:
def greetings(name):
      print("welcome to the office",name)

In [12]:
greetings("Lucky")

welcome to the office Lucky

In [13]:
greetings() #it will throw an error

TypeError: greetings() missing 1 required positional argument: 'name'

In [ ]:
def greet(lucky):
      print("welcome to the cricket ground", lucky)

In [ ]:
greet("neeraj")

welcome to the cricket ground neeraj

In [ ]:
def fun():
      print("this is my firts function")

fun()

this is my firts function

In [ ]:
"this is my first function" + " in python"

'this is my first function in python'

In [ ]:
fun() + " in python" # throw error

this is my firts function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
print(type(fun()))

this is my firts function
<class 'NoneType'>

In [ ]:
#can't concatinate 'NoneType' and 'str'

In [ ]:
def func():
      return "This is my second Function"

func()

'This is my second Function'

In [ ]:
print(type(func()))
# now both are 'str' type can be concatinate

<class 'str'>

In [ ]:
func() + " in python"

'This is my second Function in python'

In [ ]:
def func1():
      return "Lucky", 1,4,8.6, True, 3+7j

In [ ]:
func1()

('Lucky', 1, 4, 8.6, True, (3+7j))

In [ ]:
a = func1()
type(a)

tuple

In [ ]:
a, b, c, d, e, f = func1()

In [ ]:
a

'Lucky'

In [ ]:
b

1

In [ ]:
c

4

In [ ]:
d

8.6

In [ ]:
e

True

In [ ]:
f

(3+7j)

In [ ]:
n = func1()
n

('Lucky', 1, 4, 8.6, True, (3+7j))

In [ ]:
n[0]

'Lucky'

In [ ]:
n[2]

4

In [ ]:
n[4]

True

In [ ]:
def func2():
      calc = 2+3+4*6
      return calc

In [ ]:
func2()

29

In [ ]:
type(func2())

int

In [ ]:
def square_no(a): # a is called as an arguement
      return a*a

In [ ]:
square_no(5)

25

In [ ]:
def addition(a,b):
      return a+b

In [ ]:
addition(8,7)

15

In [ ]:
addition(9,4)

13

In [ ]:
addition("Lucky", "Kaushik")

'LuckyKaushik'

In [ ]:
addition("Kaushik", "Lucky")
# here a and b are positional arguments >> it maintains order

'KaushikLucky'

In [ ]:
addition(b="Kaushik", a="Lucky")

'LuckyKaushik'

In [ ]:
addition([1,2,3],[4,5,6])

[1, 2, 3, 4, 5, 6]

In [ ]:
def sum(a,b,c):
      return a+b+c

In [ ]:
sum(4,5,6)

15

In [ ]:
def sum1(a,b,c=0):
      return a+b+c
# here, c=0 is assined is called default argument
# default argument is passed to function in the last

In [ ]:
sum1(3,5,6)

14

In [ ]:
sum1(3,5)

8

In [ ]:
def sum2(a=0,b=0,c=0):
      return a+b+c

In [ ]:
sum2(1)

1

In [ ]:
sum2(3, 4)

7

In [ ]:
def sum3(a=0,b=0,c=2):
      return a+b+c

In [ ]:
sum3(5)

7

In [ ]:
def add_two_number():
      a = int(input("enter the first no"))
      b = int(input("enter the second no"))
      return a+b

In [ ]:
add_two_number()

9

In [ ]:
#write a function that takes list as inputand return all numeric values in a list
def list_input_return_numeric(a):
      n = []
      for i in a:
            if type(i) == int or type(i) == float:
                  n.append(i)
      return n

In [ ]:
list_input_return_numeric([1,2.4,"lucky",True, 3+7j, 5, 6])

[1, 2.4, 5, 6]

In [ ]:
#now input take nested list
list_input_return_numeric([1,2.4,"lucky",True, 3+7j, 5, 6, [100, 200.4, "kaushik"]])

[1, 2.4, 5, 6]

In [ ]:
def list_input_return_numeric2(a):
      n = []
      for i in a:
            if type(i) == list:
                  for j in i:
                      if type(j) == int or type(j) == float:
                            n.append(j) 
            else:
                  if type(i) == int or type(i) == float:
                        n.append(i)
      return n

In [ ]:
list_input_return_numeric2([1,2.4,"lucky",True, 3+7j, 5, 6, [100, 200.4, "kaushik"]])

[1, 2.4, 5, 6, 100, 200.4]

In [ ]:
sum(4,5,7,9)

TypeError: sum() takes 3 positional arguments but 4 were given

In [ ]:
#variable length argument >> when dont kwon the no of arguments

In [ ]:
def sum4(*args):
      return args

In [ ]:
sum4(1,2,3)

(1, 2, 3)

In [ ]:
sum4(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [ ]:
sum4(1,2,3,4,5,6,7,8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
# a function take any no of values and return the sum
def sum5(*args):
      s = 0
      for i in args:
            s = s+i
      return s

In [ ]:
sum5(1,2,3,4,5,6,7,8)

36

In [ ]:
#variable argument with default argument
def test(*args,a):
      return args, a

In [ ]:
test(1,2,3,4)

TypeError: test() missing 1 required keyword-only argument: 'a'

In [ ]:
test(1,2,3,4, a=100)

((1, 2, 3, 4), 100)

In [ ]:
#variable argument >> take any no of argument
#positional argument >> fixed argument

In [ ]:
#write a function can take any no of values and returns the list
def return_list(*args):
      l = []
      for i in args:
            if type(i) == list:
                  l.append(i)
      return l

In [ ]:
return_list(1,2,3.4,4+5j, {6,7}, [8,9,0,1,2], [12,34,56, [345,789,901, [1234, [67890],5678,9012],456],78], (3,4,5),True, "Lucky")

[[8, 9, 0, 1, 2],
 [12, 34, 56, [345, 789, 901, [1234, [67890], 5678, 9012], 456], 78]]

In [ ]:
def team(name, project):
      return f"{name} is working on {project}"

team("Lucky","CV")

'Lucky is working on CV'

In [ ]:
#function should accept anyno of argument in form of key value pair
#kwargs>key word argument
def kwargs_function(**kwargs):
      return kwargs

In [ ]:
kwargs_function(a=2, b=3, c=[1,2,3], d={1,2}, e=(4,5), f=[7,8])

{'a': 2, 'b': 3, 'c': [1, 2, 3], 'd': {1, 2}, 'e': (4, 5), 'f': [7, 8]}

In [ ]:
#function which takes any no of key value argument and return only list key value argement

In [ ]:
def test(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
            return i, kwargs[i]

In [ ]:
test(a = 2, b=3, c= [1, 2,3], d = {1, 2}, e = (1, 2))

('c', [1, 2, 3])

In [ ]:
#variable length argument and keyword arguement together

def test1(*args, **args1):
    return args,args1

In [ ]:
test1(1, 2, 3, 4, a=100, b=50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [ ]:
test1()

((), {})

In [ ]:
def test1(*lucky, **kaushik):
    return lucky, kaushik

test1(1, 2, 3, 4, a=100, b=50)

((1, 2, 3, 4), {'a': 100, 'b': 50})

In [ ]:
#python namesapce

def greet():
    message = "hello, welcome!" #message variable is a local variable(scope is only inside function)
    print(message)

In [ ]:
greet()

hello, welcome!

In [ ]:
subpart = " to the course" #global variable>> can be accessed outside the function as well
def greet():
    message = "hello, welcome" + subpart
    print(message)

In [ ]:
greet()

hello, welcome to the course

In [ ]:
#namespace>> scope of variables
#local variable>> a function defined inside a function should be accessed in the function only
#global variable>> accessed any where

In [ ]:
#function inside function


def marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return marks_list

In [ ]:
marks_in_subject(a = 90, b=20)

[90, 20]

In [ ]:
def marks_in_subject(**kwargs):
    def total_marks(marks_list):
        return sum5(marks_list)
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks((marks_list))

In [ ]:
marks_in_subject(a = 90, b=40, c=30)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [ ]:
def sum6(*args):
    s = 0
    for i in args:
        s = s + i
    return s

def marks_in_subject(**kwargs):
    def total_marks(marks_list):
        # Correctly unpack the list elements when passing them to sum6
        return sum6(*marks_list)
    
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks(marks_list)

# Call the function
total = marks_in_subject(a=90, b=40, c=30)
print(total)  # Output: 160

160

In [ ]:
#calling function from outside
def total_marks(marks_list):
    return sum6(marks_list)

def marks_in_subject(**kwargs):
    marks_list = []
    for sub, marks in kwargs.items():
        marks_list.append(marks)
        
    return total_marks(marks_list)

In [ ]:
marks_in_subject(a = 90, b=40, c=30, d=100)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [15]:
def find_power(num, power):
    return num**power

In [16]:
find_power(3, 2)

9

In [ ]:
def find_power(num, power):
    """This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no
    """
    return num**power

In [ ]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no

In [ ]:
print(find_power.__doc__)

This function returns the power of no
    Args:
        num(int): provide any integer as input
        power(int): provide power as integer
    Returns:
        integer: power of no