In [1]:
#lambda function>> anonymous function
#syntax 
# lambda arguments : expression >> no need of return statement and def keyword

In [2]:
def square(x):
      return x**2
square(2)

4

In [3]:
sq_lambda = lambda x: x**2

In [4]:
sq_lambda(2)

4

In [5]:
add = lambda a,b: a+b

In [6]:
add(2,5)

7

In [8]:
is_even = lambda x: x%2 == 0
is_even(4)

True

In [9]:
x = ["python", "Data Science", "Lucky"]
x

['python', 'Data Science', 'Lucky']

In [10]:
sorted(x) #by default sorting based on alphabetical order

['Data Science', 'Lucky', 'python']

In [11]:
le = lambda x: len(x)
le("Lucky")

5

In [12]:
sorted(x,key = lambda x: len(x))  #sort the list based on length of element of list

['Lucky', 'python', 'Data Science']

In [13]:
fib = lambda n: n if n<=1 else fib(n-1) + fib(n-2)
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [14]:
#factorial of 5 >> 5*4*3*2*1 and 0! is 1

In [15]:
def fact_num(n):
    if n==0:
        return 1
    else:
        return n*fact_num(n-1)

In [16]:
fact_num(5)

120

In [17]:
fact_num = lambda n: 1 if n==0 else n*fact_num(n-1)
fact_num(5)

120

In [18]:
#map >> executes a specified function for each of iterm of an iterable
#syntax >> map(func,*iterables)

In [19]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [1]:
l = [1, 2, 3, 4, 5]
def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [2]:
square(l)

[1, 4, 9, 16, 25]

In [3]:
def sq(x):
    return x**2

In [4]:
l

[1, 2, 3, 4, 5]

In [5]:
#map(func, iterable)
list(map(sq, l))

[1, 4, 9, 16, 25]

In [6]:
def add(x):
    return x+10

list(map(add, l))

[11, 12, 13, 14, 15]

In [7]:
#using lambda with map
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25]

In [8]:
list(map(lambda x: x+10, l))

[11, 12, 13, 14, 15]

In [9]:
l = ["1", "2", "3"]
list(map(lambda x: int(x), l))

[1, 2, 3]

In [10]:
l1 = [100, 200,300, 400]
l2 = [1, 2, 3, 4]
list(map(lambda x, y : x+y, l1, l2))

[101, 202, 303, 404]

In [11]:
s = "pwskills"
list(map(lambda x: x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [12]:
words = ["python", "lucky"]
list(map(str.capitalize, words))

['Python', 'Lucky']

In [13]:
grades = ["A", "B", "C", "D"]
list(map(lambda grade: 4 if grade == "A" else (3 if grade == "B" else 2), grades))

[4, 3, 2, 2]

In [14]:
#reduce >> folding/reduction
#syntax>> #reduce(func, iterable)
#reduce will always take two arguement function
from functools import reduce

In [15]:
l = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x, y:x+y, l)

25

In [16]:
l = [2, 1, 3, 4, 5, 6]
reduce(lambda x, y,z:x+y+z, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [17]:
l = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x, y:x+y, [])

TypeError: reduce() of empty iterable with no initial value

In [18]:
l = [2, 1, 3, 4, 4, 5, 6]
reduce(lambda x, y:x+y, [1])

1

In [19]:
reduce(lambda x, y:x*y, l)

2880

In [20]:
words = ["Data", "Science", "courses"]
reduce(lambda x, y: x+ " "+y, words)

'Data Science courses'

In [21]:
#the highest values at each stage you are comparing x and y
numbers = [1, 2, 5, 3, 100, 1000, 6, 10000]
reduce(lambda x, y: x if x>y else y, numbers)

10000

In [22]:
def factorial(n):
    return reduce(lambda x, y: x*y, range(1, n+1))

In [23]:
factorial(5)

120

In [24]:
#filter function >> it is used to filter elements from an iterable based on some condition
#syntax>> filter(function, iterable)

In [25]:
l

[2, 1, 3, 4, 4, 5, 6]

In [26]:
list(filter(lambda x: x%2 == 0, l))

[2, 4, 4, 6]

In [27]:
list(filter(lambda x: x%2 != 0, l))

[1, 3, 5]

In [28]:
l1 = [-1, -2, 3, 4, 5]
list(filter(lambda x: x < 0, l1))

[-1, -2]

In [29]:
list(filter(lambda x: x > 0, l1))

[3, 4, 5]

In [30]:
s = ["Ajay", "pwskills", "data scince"]
list(filter(lambda x: len(x) > 4, s))

['pwskills', 'data scince']