In [103]:
#Data structure >> way of organizing and storing data so that it can be accessed and manipulated effeciently
#data structure >> string, list, set, tuples, dictionary, array

In [2]:
#list >> you can store anything in list >> can store heterogenous data
#list is an ordered collection of elements that can be of any data type
#list are mutable

In [3]:
num = [1,2,3,4,5]
num

[1, 2, 3, 4, 5]

In [4]:
type(num)

list

In [5]:
num[0]

1

In [6]:
num[1]

2

In [7]:
num[2]

3

In [8]:
num[-1]

5

In [9]:
num[-2]

4

In [10]:
num[5] # an error list index out of range

IndexError: list index out of range

In [11]:
a = [1, 2, 3.2, "baingan", "tomato", "banana", True, False, 3+7j]

In [12]:
a #list can store any data type >> heterogenous data structure

[1, 2, 3.2, 'baingan', 'tomato', 'banana', True, False, (3+7j)]

In [13]:
type(a)

list

In [14]:
#adding element to the list

In [15]:
a.append("orange")

In [16]:
a

[1, 2, 3.2, 'baingan', 'tomato', 'banana', True, False, (3+7j), 'orange']

In [17]:
a.append(5, "lemon")

TypeError: list.append() takes exactly one argument (2 given)

In [18]:
a.append("Lucky")

In [19]:
a

[1,
 2,
 3.2,
 'baingan',
 'tomato',
 'banana',
 True,
 False,
 (3+7j),
 'orange',
 'Lucky']

In [20]:
a.remove("Lucky")

In [21]:
a

[1, 2, 3.2, 'baingan', 'tomato', 'banana', True, False, (3+7j), 'orange']

In [22]:
a.remove("baingan")

In [23]:
a

[1, 2, 3.2, 'tomato', 'banana', True, False, (3+7j), 'orange']

In [24]:
lis = [[1,2,3],[4,5,6],[7,8,9]]

In [25]:
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
type(lis)

list

In [27]:
lis[0]

[1, 2, 3]

In [28]:
lis[1]

[4, 5, 6]

In [29]:
lis[2]

[7, 8, 9]

In [32]:
lis[0][1]

2

In [33]:
lis[1][1]

5

In [34]:
lis[2][2]

9

In [35]:
#list is mutable
shopping_list = ["macBook air", "apple", "baingan", 2, 3.4, True]
shopping_list[2] = "potato"

In [36]:
shopping_list

['macBook air', 'apple', 'potato', 2, 3.4, True]

In [37]:
for item in shopping_list:
      print(item, end = " ")

#use of list >> can store any data and it is mutable

macBook air apple potato 2 3.4 True

In [38]:
##Tuple >> Immutable
point = (2,3)

In [39]:
point

(2, 3)

In [40]:
type(point)

tuple

In [41]:
#use caes >> aadhar card, atm, empid >> you dont want to change, you will use tuple to store the data

In [42]:
t = (1,2,2.3, True, 3+5j, "Lucky")
#tuple can store heterogenous data
t

(1, 2, 2.3, True, (3+5j), 'Lucky')

In [43]:
type(t)

tuple

In [44]:
emp_name = ("Lucky", "Kaushik", "dhoni", "kohli")
emp_name

('Lucky', 'Kaushik', 'dhoni', 'kohli')

In [45]:
emp_name[0]

'Lucky'

In [46]:
emp_name[-2]

'dhoni'

In [47]:
emp_name[2] = "virat" # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [48]:
box1 = ("a","b")
box2 = ("c","d")
choc_bag = (box1, box2)

In [49]:
type(choc_bag)

tuple

In [50]:
choc_bag

(('a', 'b'), ('c', 'd'))

In [51]:
for box in choc_bag:
      for choc in box:
            print(choc)

a
b
c
d

In [52]:
##sets >> are unorderd collection of unique element

In [53]:
s = {"red", "orange"}
s

{'orange', 'red'}

In [54]:
type(s)

set

In [56]:
s = {"red", "orange", "red", "blue", "orange", "pink"}
s

{'blue', 'orange', 'pink', 'red'}

In [66]:
s = {"a","a","a",1,"1", 1.1, 1.1,2,2,2,}

In [67]:
s

{1, '1', 1.1, 2, 'a'}

In [59]:
s[0]   #error >> no concept of indexing as sets are unordered are unique

TypeError: 'set' object is not subscriptable

In [68]:
s.add("lucky")
s

{1, '1', 1.1, 2, 'a', 'lucky'}

In [69]:
s.remove(1)
s

{'1', 1.1, 2, 'a', 'lucky'}

In [70]:
#use case of sets >> to get unique elements
grocery_list = {"apple", "banana","banana", "egg", "egg"}
grocery_list

{'apple', 'banana', 'egg'}

In [74]:
#dictionaries >> which stores the data in the form of key value pair
my_dict = {}

In [75]:
type(my_dict)

dict

In [76]:
my_dict = {"key_course": "data science", "duration":200}

In [78]:
#use case
phonebook = {"dad": 1234, "mom":5678}

In [79]:
phonebook

{'dad': 1234, 'mom': 5678}

In [80]:
type(phonebook)

dict

In [81]:
phonebook["dad"]

1234

In [83]:
phonebook["mom"]

5678

In [84]:
phonebook = {"dad": 1234, "mom":5678, "dad": 90123}

In [85]:
phonebook["dad"]

90123

In [86]:
rest_menu = {"paneer_kofta": 100, "paneer_korma":90}
rest_menu

{'paneer_kofta': 100, 'paneer_korma': 90}

In [87]:
rest_menu['paneer_kofta']

100

In [88]:
rest_menu['paneer_kofta'] = 120

In [90]:
rest_menu

{'paneer_kofta': 120, 'paneer_korma': 90}

In [91]:
rest_menu['paneer_korma']=110

In [93]:
rest_menu

{'paneer_kofta': 120, 'paneer_korma': 110}

In [95]:
rest_menu.keys()

dict_keys(['paneer_kofta', 'paneer_korma'])

In [96]:
rest_menu.values()

dict_values([120, 110])

In [98]:
phonebook.keys()

dict_keys(['dad', 'mom'])

In [99]:
phonebook.values()

dict_values([90123, 5678])

In [100]:
from array import array

In [101]:
#array is similar to list >> homogenous data
array("i",[1,2,3,4])

array('i', [1, 2, 3, 4])