In [1]:
#string is a sequence of character >> represents and manipulate textual data
#character are represented using numerical values >> each character is assigned a unique value
#ASCII (7 bits) and UNICODE (16 bits) >> ascii >> 2 to power 8 >> 128 characters has been encoded whereas utf is 2 to power 16 , almost covered every character of every langauage
#UTF-8, UTF 16 >> popular encoding schemes >> widely accepted in industry
#ASCII >> American Standard Code for Information Interchange
#UTF >> Uniform Transformation Format

In [3]:
#ASCII representation
char = 'A'
ord(char)  #ord >> ordinal, means what is the numerical order of character

65

In [7]:
chr(65) #character >> give the character corresponding to that number

'A'

In [9]:
ord("a")

97

In [10]:
chr(97)

'a'

In [12]:
chr(77)

'M'

In [14]:
ord("Z")

90

In [15]:
ord("z")

122

In [16]:
chr(123)

'{'

In [17]:
chr(1)  #\0

'\x01'

In [18]:
'\u03A9'

'Ω'

In [19]:
'\u03A3'

'Σ'

In [21]:
'\u0973'

'ॳ'

In [22]:
'\u0974'

'ॴ'

In [1]:
'\u0975'

'ॵ'

In [2]:
string1 = 'Lucky'

In [3]:
string1

'Lucky'

In [4]:
type(string1)

str

In [5]:
"I'm Lucky"

"I'm Lucky"

In [6]:
'''I'm Kaushik'''

"I'm Kaushik"

In [2]:
'''I'm Lucky kaushik
I study in pwskills
a data science engineer'''

"I'm Lucky kaushik\nI study in pwskills\na data science engineer"

In [3]:
#concatenation of string >> combination of two string

In [4]:
"Namaste" + " Duniya"

'Namaste Duniya'

In [5]:
string1 = "MS Dhoni"
string2 = "Any player"
string1 + " >> " + string2

'MS Dhoni >> Any player'

In [7]:
#sclicing of string
a = "SHlibrary"
a[0]

'S'

In [8]:
a[3]

'i'

In [9]:
a[-1]

'y'

In [12]:
b = "I am a good student"
b[0:4]  # 4 is exclusive [a, b] >> it will give result till n-1 index

'I am'

In [13]:
b[5:11]

'a good'

In [14]:
#except last three character
b[:-3]

'I am a good stud'

In [15]:
#the only last character
b[-3:]

'ent'

In [18]:
b

'I am a good student'

In [20]:
b[0:10:1]  #by default step size is 1

'I am a goo'

In [22]:
b[0:15:2]  #here 2 is step size >> [start:end:step]

'Ia  odsu'

In [24]:
b[::-1] #iterate over the sequence in reverse order

'tneduts doog a ma I'

In [34]:
b[-1:-13:-2]

'teusdo'

In [35]:
b[-1::-2]

'teusdo  aI'

In [37]:
#no of character
len(b)

19

In [38]:
len(a)

9

In [40]:
#modification of string
string3 = "I am a student"
string3.replace("student", "teacher")

'I am a teacher'

In [41]:
address = "123 sainik apt, mohan garden, Delhi"
address.replace("apt", "apartment")
address.replace("sainik", "sai")

'123 sai apt, mohan garden, Delhi'

In [48]:
text = "BRB, ASAP, TTYL, LOL, SS"

'be right back, as soon as posible, take to you leter, laughing out loud, screenshort'

In [51]:
text.replace("BRB", "be right back").replace("TTYL", "take to you leter").replace("LOL", "laughing out loud").replace("ASAP", "as soon as posible").replace("SS", "screenshort")

'be right back, as soon as posible, take to you leter, laughing out loud, screenshort'

In [52]:
text

'BRB, ASAP, TTYL, LOL, SS'

In [53]:
text = "BRB, ASAP, TTYL, LOL, SS"

updated_text = (
    text.replace("BRB", "be right back")
    .replace("ASAP", "as soon as possible")
    .replace("TTYL", "talk to you later")
    .replace("LOL", "laughing out loud")
    .replace("SS", "screenshot")
)

print(updated_text)

be right back, as soon as possible, talk to you later, laughing out loud, screenshot

In [55]:
updated_text

'be right back, as soon as possible, talk to you later, laughing out loud, screenshot'

In [56]:
text.lower()

'brb, asap, ttyl, lol, ss'

In [59]:
text.upper()

'BRB, ASAP, TTYL, LOL, SS'

In [60]:
updated_text.upper()

'BE RIGHT BACK, AS SOON AS POSSIBLE, TALK TO YOU LATER, LAUGHING OUT LOUD, SCREENSHOT'

In [61]:
updated_text.title()

'Be Right Back, As Soon As Possible, Talk To You Later, Laughing Out Loud, Screenshot'

In [64]:
hello = "Namaste Duniya"
hello.swapcase()

'nAMASTE dUNIYA'

In [67]:
hello.capitalize()

'Namaste duniya'

In [68]:
sentence = "I love to play and watch cricket"
"play" in sentence

True

In [69]:
"love" in sentence

True

In [72]:
sentence + ", I am fan of MS Dhoni"

'I love to play and watch cricket, I am fan of MS Dhoni'

In [73]:
"MS" in sentence # Concatenation Does Not Modify the Original String

False

In [74]:
# Original sentence
sentence = "I love to play and watch cricket"

# Concatenating and updating the sentence
sentence += ", I am a fan of MS Dhoni"

# Checking if "MS" is in the updated sentence
result = "MS" in sentence

# Print the result
print(result)  # Output: True

True

In [75]:
sentence

'I love to play and watch cricket, I am a fan of MS Dhoni'

In [84]:
word = input("Enter a sentence: ")
search_word = input("Enter the word to search for: ")
if search_word in word:
      print("search word is present")
else:
      print("not present")

not present

In [89]:
email = input("Enter email: ")
if "@gmail.com" in email:
      print("valid email")
else:
      print("enter valid email")

enter valid email

In [91]:
document = "assignment.pdf"
if ".pdf" in document:
      print("it's pdf file")
else: 
      print("not a pdf file")

it's pdf file

In [92]:
#string comparison
str1 = "hello"
str2 = "hello"
str1 == str2

True

In [93]:
str1 = "Hello"
str2 = "hello"
str1 == str2

False

In [94]:
str1 = "Hollo"
str2 = "hello"
str1.lower() == str2.lower()

True

In [103]:
register_username = ["lucky","kaushik","pw","cw","python","rohan","anshul","aman","drv", "karan", "raj","dhoni", "kohli","rutu","rohit"]
new_username = input("Enter your username: ")
if new_username in register_username:
      print("already taken")
else:
      print("username is available")
register_username.append(new_username)

username is available

In [104]:
register_username

['lucky',
 'kaushik',
 'pw',
 'cw',
 'python',
 'rohan',
 'anshul',
 'aman',
 'drv',
 'karan',
 'raj',
 'dhoni',
 'kohli',
 'rutu',
 'rohit',
 'himu']

In [110]:
register_username = ["lucky","kaushik","pw","cw","python","rohan","anshul","aman","drv", "karan", "raj","dhoni", "kohli","rutu","rohit"]
new_username = input("Enter your username: ")
if new_username in register_username:
      print("already taken")
else:
      print("username is available")
register_username.append(new_username)

print("Updated list of usernames:", register_username)

username is available
Updated list of usernames: ['lucky', 'kaushik', 'pw', 'cw', 'python', 'rohan', 'anshul', 'aman', 'drv', 'karan', 'raj', 'dhoni', 'kohli', 'rutu', 'rohit', 'juliyet']

In [108]:
register_username

['lucky',
 'kaushik',
 'pw',
 'cw',
 'python',
 'rohan',
 'anshul',
 'aman',
 'drv',
 'karan',
 'raj',
 'dhoni',
 'kohli',
 'rutu',
 'rohit',
 'himu']

In [ ]:
# Read existing usernames from a file or initialize if not exists
try:
    with open("usernames.txt", "r") as file:
        register_username = file.read().splitlines()
except FileNotFoundError:
    # Initialize with the default list if file not found
    register_username = [
        "lucky", "kaushik", "pw", "cw", "python", "rohan", "anshul",
        "aman", "drv", "karan", "raj", "dhoni", "kohli", "rutu", "rohit"
    ]

# Prompt the user to enter a new username
new_username = input("Enter your username: ")

# Check if the new username is already taken
if new_username in register_username:
    print("Username is already taken.")
else:
    print("Username is available.")
    # Add the new username to the list
    register_username.append(new_username)

    # Write the updated list back to the file
    with open("usernames.txt", "w") as file:
        for username in register_username:
            file.write(username + "\n")

# Print the updated list of usernames
print("Updated list of usernames:", register_username)

Username is available.
Updated list of usernames: ['lucky', 'kaushik', 'pw', 'cw', 'python', 'rohan', 'anshul', 'aman', 'drv', 'karan', 'raj', 'dhoni', 'kohli', 'rutu', 'rohit', 'raina', 'himu', 'romiyo', 'joliyat', 'lalbabu']

In [118]:
product_code = "PD10"
scanned_code = input("scan the product code")
if product_code == scanned_code:
      print("the price is 100")
else:
      print("talk to receptionist")

talk to receptionist

In [119]:
#string ordering
name = ["suresh","ramesh", "brijesh", "ajay", "sanjay", "bijay", "akhilesh"]
sorted(name)

['ajay', 'akhilesh', 'bijay', 'brijesh', 'ramesh', 'sanjay', 'suresh']

In [121]:
OG_Singers = ["Lata ji","kk", "arijit", "pritam", "mohit chauhan","shreya", "yo yo", "alka", "udit","sanu", "rafi", "asha", "kishor", "jagjit", "anuradha", "imran khan", "bilal"]

sorted(OG_Singers)

['Lata ji',
 'alka',
 'anuradha',
 'arijit',
 'asha',
 'bilal',
 'imran khan',
 'jagjit',
 'kishor',
 'kk',
 'mohit chauhan',
 'pritam',
 'rafi',
 'sanu',
 'shreya',
 'udit',
 'yo yo']

In [122]:
#common string operation
input_string = "       Kaushik        "
input_string

'       Kaushik        '

In [124]:
input_string.strip()

'Kaushik'

In [125]:
row = "apple                 "
row.strip()

'apple'

In [129]:
#string splitting 
data = "kk, arijit, pritam, mohit chauhan"
data

'kk, arijit, pritam, mohit chauhan'

In [130]:
legend = data.split(',')

In [131]:
legend

['kk', ' arijit', ' pritam', ' mohit chauhan']

In [132]:
data2 = "RK Gupta, Maths, 6th to 10th"
data2

'RK Gupta, Maths, 6th to 10th'

In [133]:
teacher_info = data2.split(',')

In [134]:
teacher_info

['RK Gupta', ' Maths', ' 6th to 10th']

In [135]:
name = teacher_info[0]
sub = teacher_info[1]
classes = teacher_info[2]

In [136]:
name

'RK Gupta'

In [137]:
sub

' Maths'

In [139]:
classes

' 6th to 10th'

In [140]:
classes.strip()

'6th to 10th'