In [68]:
#list are order collection of items
#[]
#list is like a shopping bag which can store everything

In [69]:
type([])

list

In [70]:
grocery_list = ["milk", "orange", 1,2, 3.5, 6.9, True, 3+9j]

In [71]:
type(grocery_list)

list

In [72]:
grocery_list[0]

'milk'

In [73]:
grocery_list[-1]

(3+9j)

In [74]:
grocery_list[3]

2

In [75]:
#slicing
grocery_list[1:]

['orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [76]:
grocery_list[1:4]

['orange', 1, 2]

In [77]:
grocery_list[3:]

[2, 3.5, 6.9, True, (3+9j)]

In [78]:
movies = ["comedy", "thriller", "action", "drama", "science friction", "horror",]
movies[0:]

['comedy', 'thriller', 'action', 'drama', 'science friction', 'horror']

In [79]:
movies[1:4]

['thriller', 'action', 'drama']

In [80]:
movies[-2]

'science friction'

In [81]:
movies[-1::-1]

['horror', 'science friction', 'drama', 'action', 'thriller', 'comedy']

In [82]:
movies[-1:-5:-1]

['horror', 'science friction', 'drama', 'action']

In [83]:
lis = ["apple", "orange","banana"]
lis

['apple', 'orange', 'banana']

In [84]:
lis.append("mango")

In [85]:
lis

['apple', 'orange', 'banana', 'mango']

In [86]:
playlist = []
playlist.append("sare jaha se acha")
playlist.append("ae mere watan ke logo")
playlist.append("lahra do")

In [87]:
playlist

['sare jaha se acha', 'ae mere watan ke logo', 'lahra do']

In [88]:
# list are mutable
lis

['apple', 'orange', 'banana', 'mango']

In [89]:
lis[0]

'apple'

In [90]:
lis[0] = "papaya"

In [91]:
lis

['papaya', 'orange', 'banana', 'mango']

In [92]:
lis.insert(1,"potato")

In [93]:
lis

['papaya', 'potato', 'orange', 'banana', 'mango']

In [94]:
lis.insert(2, "apple")

In [95]:
lis

['papaya', 'potato', 'apple', 'orange', 'banana', 'mango']

In [96]:
#extend >> used to append elements from another list
my_list = ["apple", "banana", "orange"]
brother_list = ["brinjal", "potato"]
my_list.extend(brother_list)

In [97]:
my_list

['apple', 'banana', 'orange', 'brinjal', 'potato']

In [98]:
brother_list.extend(my_list)

In [99]:
brother_list

['brinjal', 'potato', 'apple', 'banana', 'orange', 'brinjal', 'potato']

In [100]:
# same thing can be done by concatenation
my_list = ["apple", "banana", "orange"]
brother_list = ["brinjal", "potato"]
my_list + brother_list

['apple', 'banana', 'orange', 'brinjal', 'potato']

In [101]:
#repetation operation
"*" * 15

'***************'

In [102]:
"_" * 10

'__________'

In [103]:
[0] * 10

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [104]:
[1,2,3] * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [105]:
list(range(10)) * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [106]:
msg = "Your appointment is tommorrow \n"
print(msg*3)

Your appointment is tommorrow
Your appointment is tommorrow
Your appointment is tommorrow

In [107]:
#membership in , not in
grocery_list

['milk', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [108]:
"milk" in grocery_list

True

In [109]:
"potato" not in grocery_list

True

In [110]:
# deep copy and shallow copy
#list1 = ["a","b","c"]
#list2 = [1,2,3]
# list1 = list2 >> list1 = [1,2,3] >> list2 = [1,2,3]
# shallow copy >> value will change with change in other list

In [111]:
a = grocery_list  # shallow copy
a

['milk', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [112]:
grocery_list

['milk', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [113]:
a[0] = "potato"

In [114]:
a

['potato', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [115]:
grocery_list

['potato', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [116]:
#deep copy >> will not change the value in another list

In [117]:
grocery_list

['potato', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [118]:
b = grocery_list.copy()

In [119]:
b

['potato', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [120]:
b[0] = "milk"

In [121]:
b

['milk', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [122]:
grocery_list

['potato', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [123]:
#sorting list
book_list = ["data str", "Algorithms", "Web dev", "Data science","machin learning", "deep learning", "natural language processing", "Artificial Intelligence"]
sorted(book_list)

['Algorithms',
 'Artificial Intelligence',
 'Data science',
 'Web dev',
 'data str',
 'deep learning',
 'machin learning',
 'natural language processing']

In [124]:
book_list.index("Web dev")  #Return  first index of value.

2

In [125]:
book_list.index("Artificial Intelligence")

7

In [126]:
len(book_list)

8

In [127]:
book_list.count("Algorithms")  #Return number of occurrences of value.

1

In [128]:
book_list.remove("Data science")

In [129]:
book_list

['data str',
 'Algorithms',
 'Web dev',
 'machin learning',
 'deep learning',
 'natural language processing',
 'Artificial Intelligence']

In [130]:
b

['milk', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [131]:
del b

In [132]:
b

NameError: name 'b' is not defined

In [133]:
a

['potato', 'orange', 1, 2, 3.5, 6.9, True, (3+9j)]

In [134]:
a.clear()  # it deletes the elements of list, but variable will not be deleted

In [135]:
a

[]

In [136]:
book_list.pop() #it remoes the last elements

'Artificial Intelligence'

In [137]:
book_list

['data str',
 'Algorithms',
 'Web dev',
 'machin learning',
 'deep learning',
 'natural language processing']

In [138]:
book_list.pop(1)

'Algorithms'

In [139]:
book_list.pop(4)

'natural language processing'

In [140]:
book_list

['data str', 'Web dev', 'machin learning', 'deep learning']

In [141]:
#list comprehension
prices = [10,20,30,40,50]
doubled_price = []
for i in prices:
      doubled_price.append(i*2)

In [142]:
doubled_price

[20, 40, 60, 80, 100]

In [143]:
[price * 2 for price in prices]

[20, 40, 60, 80, 100]

In [145]:
names = ["sarswati", "sunita", "raj", "vandana", "arti", "lucky"]
{name.capitalize() for name in names}

{'Arti', 'Lucky', 'Raj', 'Sarswati', 'Sunita', 'Vandana'}

In [146]:
#use cases
numbers = [1,2,3,4,5]
[num**2 for num in numbers]

[1, 4, 9, 16, 25]

In [147]:
str1 = "doc1.ppt"
str1.split(".")[-1]

'ppt'

In [148]:
file_name = ["project.ppt", "project.pdf", "project.jpg", "project.py", "project.txt", "project.cpp"]
[file.split(".")[-1] for file in file_name]

['ppt', 'pdf', 'jpg', 'py', 'txt', 'cpp']

In [149]:
#conditional list comprehension
email_address = ['ak@gmail.com', "pk@yahoo.com", "lk@hotmail.com", "rk@outlook.com", "sk@gmail.com", "jk@yahoo.com", "mk@gmail.com"]
[email for email in email_address if email.endswith("@yahoo.com")]

['pk@yahoo.com', 'jk@yahoo.com']

In [150]:
#nested list comprehension
pairs = []
for x in [1,2,3]:
      for y in [4,5,6]:
            pairs.append([x,y])
pairs

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [151]:
[[x,y] for x in [1,2,3] for y in [4,5,6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [152]:
#list as stack and queue

In [153]:
#stack >> base on LIFO(last in first out) >> the last element added in stack will be the first one to be remove
#only one end

In [154]:
stack_of_plate = []
stack_of_plate.append("plate1")
stack_of_plate.append("plate2")
stack_of_plate.append("plate3")
stack_of_plate.append("plate4")
stack_of_plate.append("plate5")

In [155]:
stack_of_plate

['plate1', 'plate2', 'plate3', 'plate4', 'plate5']

In [156]:
stack_of_plate.pop()

'plate5'

In [157]:
stack_of_plate

['plate1', 'plate2', 'plate3', 'plate4']

In [158]:
browsing = []
browsing.append("home_page")
browsing.append("about us")
browsing.append("contact")
browsing.append("login")

In [159]:
browsing

['home_page', 'about us', 'contact', 'login']

In [160]:
browsing.pop()

'login'

In [161]:
#Queue >> based on FIFO(first in first out)
# it works in orderly sequential manner
# two ends

In [162]:
from collections import deque  #library is a collections of python code (module)
# collections is a library and deque is module

In [163]:
checkout = deque()
checkout.append("cus1")
checkout.append("cus2")
checkout.append("cus3")
checkout.append("cus4")
checkout.append("cus5")

In [164]:
checkout

deque(['cus1', 'cus2', 'cus3', 'cus4', 'cus5'])

In [173]:
while checkout:
      customer = checkout.popleft()
      print("serving", customer)

In [178]:
from queue import Queue
print_queue = Queue()
print_queue.put("print the 1 pdf")
print_queue.put("print the 2 pdf")  # put is similar to push
print_queue.put("print the 3 pdf")
print_queue.put("print the 4 pdf")
print_queue.put("print the 5 pdf")

while not print_queue.empty():
      print_job = print_queue.get()  # get is similar to pop
      print("printing", print_job)

printing print the 1 pdf
printing print the 2 pdf
printing print the 3 pdf
printing print the 4 pdf
printing print the 5 pdf