In [51]:
# tuple are ordered collection of elements, heterogenous
#tuples are immutable

In [52]:
t = ()

In [53]:
type(t)

tuple

In [54]:
t = ("pwskills", "Lucky", 2, 3.6, True, 3+5j)

In [55]:
t[0]

'pwskills'

In [56]:
t[3]

3.6

In [57]:
t[-1]

(3+5j)

In [58]:
#tuples are immutable
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# use cases >> use tuple as a data structure where you don't want to modify data 
empid = (1, 2, 3, 4, 5)
empid[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple1 = ("pwskills", 1,2,2,3,3,3,3,4,5.6,7, "pwskills")
tuple1.count(3)

4

In [ ]:
tuple1.index("pwskills")

0

In [ ]:
print(tuple1*2)

('pwskills', 1, 2, 2, 3, 3, 3, 3, 4, 5.6, 7, 'pwskills', 'pwskills', 1, 2, 2, 3, 3, 3, 3, 4, 5.6, 7, 'pwskills')

In [ ]:
tuple1

('pwskills', 1, 2, 2, 3, 3, 3, 3, 4, 5.6, 7, 'pwskills')

In [ ]:
tuple1[0:5]

('pwskills', 1, 2, 2, 3)

In [ ]:
tuple1[::-1]

('pwskills', 7, 5.6, 4, 3, 3, 3, 3, 2, 2, 1, 'pwskills')

In [ ]:
for i in tuple1:
      print(i, type(i))

pwskills <class 'str'>
1 <class 'int'>
2 <class 'int'>
2 <class 'int'>
3 <class 'int'>
3 <class 'int'>
3 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5.6 <class 'float'>
7 <class 'int'>
pwskills <class 'str'>

In [ ]:
t1 = (1,2,100,0,200,400,240)
max(t1)

400

In [ ]:
min(t1)

0

In [ ]:
t2 = (101, 202, 303)
t2

(101, 202, 303)

In [ ]:
t3 = (t1, t2) #nested tuple

In [ ]:
t3

((1, 2, 100, 0, 200, 400, 240), (101, 202, 303))

In [ ]:
del t3 #delete t3

In [ ]:
t3

NameError: name 't3' is not defined

In [ ]:
len(t1)

7

In [ ]:
1 in t1

True

In [ ]:
"pwskills" in t1

False

In [ ]:
"pwskills" in tuple1

True

In [ ]:
"pwskills" not in t1

True

In [ ]:
# combine both the tuples
t1+t2

(1, 2, 100, 0, 200, 400, 240, 101, 202, 303)

In [ ]:
#sets >> sets are unordered and unique collection of elements
# doesn't allow duplicate elements
# unordered >> indexing will not work

In [ ]:
s = {}
type(s)

dict

In [ ]:
s = {1}
type(s)

set

In [ ]:
s = {1,2,3,4,5}

In [ ]:
type(s)

set

In [ ]:
s = {1, 2, 1, 2, 2, "Lucky", "Lucky", "lucky","lucky", "Kaushik", "kaushik"}
s

{1, 2, 'Kaushik', 'Lucky', 'kaushik', 'lucky'}

In [ ]:
# use cases
list1 = ["baigan", "apple", "baigan", "mango", "potato", "baigan","potato", "mango", "banana"]

In [ ]:
list1

['baigan',
 'apple',
 'baigan',
 'mango',
 'potato',
 'baigan',
 'potato',
 'mango',
 'banana']

In [ ]:
s1 = set(list1)
s1

{'apple', 'baigan', 'banana', 'mango', 'potato'}

In [ ]:
len(list1)

9

In [ ]:
len(s1)

5

In [ ]:
list1 = list(s1)
list1

['mango', 'baigan', 'potato', 'apple', 'banana']

In [ ]:
len(list1)

5

In [ ]:
s[0] #sets are unordered so indexing will not make sence

TypeError: 'set' object is not subscriptable

In [ ]:
s2 = {1,2,3,4,5}
s2

{1, 2, 3, 4, 5}

In [ ]:
s = {1,2,3,4,5,{6,7,8}} # unhashable type >> it is mutable - list, set
# set inside the set must be immutable - tuple
# immutable data structure has a stable hash values like tuple

TypeError: unhashable type: 'set'

In [ ]:
s2

{1, 2, 3, 4, 5}

In [60]:
s2 = {1,2,3,4,5,(6,7,8),9} # it will not throw error because tuple is immutable >> stable hash type

In [ ]:
s2

{(6, 7, 8), 1, 2, 3, 4, 5, 9}

In [ ]:
s2[0:5] #cant do slicing also

TypeError: 'set' object is not subscriptable

In [ ]:
s2

{(6, 7, 8), 1, 2, 3, 4, 5, 9}

In [ ]:
s2.add(6)

In [ ]:
s2

{(6, 7, 8), 1, 2, 3, 4, 5, 6, 9}

In [ ]:
s2.add(7) # not compulsory that it will add to the last of the set

In [ ]:
s2

{(6, 7, 8), 1, 2, 3, 4, 5, 6, 7, 9}

In [ ]:
s2.pop()  # it is not compulsory that it will remove the last element, it is random

2

In [ ]:
s2

{(6, 7, 8), 2, 3, 4, 5, 6, 7, 9}

In [61]:
s2.remove(3)

In [62]:
s2

{(6, 7, 8), 1, 2, 4, 5, 9}

In [63]:
s2.update("Lucky")

In [64]:
s2

{(6, 7, 8), 1, 2, 4, 5, 9, 'L', 'c', 'k', 'u', 'y'}

In [65]:
s2.update(["Kaushik"])  # Update as whole letters inside the string

In [66]:
s2

{(6, 7, 8), 1, 2, 4, 5, 9, 'Kaushik', 'L', 'c', 'k', 'u', 'y'}

In [67]:
s2.update(2)

TypeError: 'int' object is not iterable

In [70]:
s2.update([10, 11, 12])

In [71]:
s2

{(6, 7, 8), 1, 10, 11, 12, 2, 3, 4, 5, 9, 'Kaushik', 'L', 'c', 'k', 'u', 'y'}

In [72]:
s2.remove(13) #throw error bcos 13 is not present in set but s2.discard will nit throw error

KeyError: 13

In [73]:
s2.discard(13)

In [74]:
#sets operations
# union >> combine elements from two sets excluding duplicates
# intersection >> returns only common elements btw sets 
# difference >> returns the elements that is present in first set and not in second 
# symmetric difference >> returns elements that are present in either of sets but not in both

In [80]:
s3 = {"hiking", "reading", "coding", "gaming", "swimming"}
s4 = {"photography", "travelling", "coding", "driving", "gaming"}

In [81]:
s3

{'coding', 'gaming', 'hiking', 'reading', 'swimming'}

In [82]:
s4

{'coding', 'driving', 'gaming', 'photography', 'travelling'}

In [83]:
#union
s3 | s4

{'coding',
 'driving',
 'gaming',
 'hiking',
 'photography',
 'reading',
 'swimming',
 'travelling'}

In [84]:
# intersection
s3 & s4

{'coding', 'gaming'}

In [85]:
# difference 
s3 - s4

{'hiking', 'reading', 'swimming'}

In [86]:
s4 - s3

{'driving', 'photography', 'travelling'}

In [87]:
# symmetric difference
s3 ^ s4

{'driving', 'hiking', 'photography', 'reading', 'swimming', 'travelling'}

In [88]:
# frozen sets >> immutable version of set, cannot be added or removed any new element

In [91]:
s5 = {1, 2, 3, 4, 5}
s5

{1, 2, 3, 4, 5}

In [92]:
s5.add(10)

In [93]:
s5

{1, 2, 3, 4, 5, 10}

In [94]:
my_fs = frozenset([1, 2, 3, 4, 5, 6, 7])

In [95]:
my_fs

frozenset({1, 2, 3, 4, 5, 6, 7})

In [96]:
type(my_fs)

frozenset

In [97]:
my_fs.add(100)

AttributeError: 'frozenset' object has no attribute 'add'

In [98]:
my_fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'